@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.header-line {
  font-family: Poppins;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 5.33vh 0 12vh;
}

.hidden { 
  color: white;
  transition-duration: 0.3s;
  cursor: pointer;
  border: 1px solid #CDCDCD;
}

.hidden:hover {
  box-shadow: 2px 4px 8px #CDCDCD;
}